<meta http-equiv="Content-Type" content="text/html">
<meta name="viewport" content="width=device-width">
<style type="text/css">
  a { text-decoration: none; color: #0088CC; }
  a:hover { text-decoration: underline }
  body {
    font-size: 18px;
    width: 100% !important;
    background-color: white;
    margin: 0;
    padding: 0;
    font-family:'Helvetica Neue','Arial','Helvetica','Verdana',sans-serif;
    color: #333333;
    line-height: 26px;
  }
</style>
<meta name="format-detection" content="telephone=no">
<table style="border-collapse: collapse;" width="100%" height="100%" cellspacing="0" cellpadding="0" border="0" align="center">
  <tbody>
    <tr><td class="top-padding" style="line-height:120px;" width="100%">&nbsp;</td></tr>
    <tr>
      <td valign="top">
        <table style="border-collapse: collapse;" width="100%" cellspacing="0" cellpadding="0" border="0">
          <tbody>
            <tr style="width:100%!important;" align="center">
              <td>
                <table style="border-collapse: collapse;" width="692" cellspacing="0" cellpadding="0" border="0" align="center">
                  <tbody>
                    <tr width="100%" border="0" cellspacing="0" cellpadding="0">
                      <td style="padding:0px 0px 0px 0px;" align="center">
                        <div style="color:#495057; text-align: center; padding-bottom: 20px;">
                          <img src="[VAR-LOGO]" style="width:100px;vertical-align: middle;border-style: none; margin-right: 24px;">
                          <b style="font-family:'Helvetica Neue','Arial','Helvetica','Verdana',sans-serif; font-size:52px; font-weight: 200; line-height:56px;vertical-align: -20px;">[VAR-BRAND]</b>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td style="padding:0px 0px 0px 0px;" valign="top" align="center">
                        <table style="border-collapse: collapse;" width="100%" cellspacing="0" cellpadding="0" border="0" align="center">
                          <tbody>
                            <tr align="center">
                              <td class="heading" style="font-family:'Helvetica Neue','Arial','Helvetica','Verdana',sans-serif; font-size:36px; line-height:40px; font-weight: 200;padding:20px 0px 32px 0px; margin:0; border: 0; display:block; text-align:center;" width="90%" align="center">[VAR-TITLE]</td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <table style="border-collapse: collapse; min-height:425px;" width="692px" cellspacing="0" cellpadding="0" border="0" align="center">
                  <tbody>
                    <tr>
                      <td style="color:#333333; padding:0px 0px 64px 0px; margin:0px;vertical-align: text-top;" class="emailcontent" width="692px">
                        <table style="border-collapse: collapse;" width="100%" cellspacing="0" cellpadding="0" border="0" align="center">
                          <tbody>
                            <tr>
                              <td>
                                <table style="border-collapse: collapse;" width="100%" cellspacing="0" cellpadding="0" border="0" align="center">
                                  <tbody>
                                    <tr>
                                      <td style="padding:7px 0 19px; margin:0; font-family:'Helvetica Neue','Arial','Helvetica','Verdana',sans-serif; color: #333333;font-size:18px; line-height: 26px; width:692px; text-align:justify">
                                        [VAR-MESSAGE]
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                                <table style="border-collapse: collapse;" width="100%" cellspacing="0" cellpadding="0" border="0" align="center">
                                  <tbody>
                                    <tr>
                                      <td style="padding:7px 0 19px; margin:0; font-family:'Helvetica Neue','Arial','Helvetica','Verdana',sans-serif; color: #333333;font-size:18px; line-height: 26px; width:692px">
                                        [TEXT-Sincerely],<br>
                                        [VAR-BRAND]
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            <tr style="width:100%!important; background-color:#343A40;" align="center">
              <td class="footer" style="padding-top: 64px; padding-bottom: 64px">
                <table style="border-collapse: collapse;" width="692" cellspacing="0" cellpadding="0" border="0" align="center">
                  <tbody>
                    <tr width="100%" border="0" cellspacing="0" cellpadding="0">
                      <td style="font-family:'Helvetica Neue','Arial','Helvetica','Verdana',sans-serif;color:#999999; text-align:center; font-size:12px; line-height:16px; padding:4px;" align="center">
                        [TEXT-TM and copyright] &copy; [VAR-COPYRIGHT]
                      </td>
                    </tr>
                    <tr width="100%" border="0" cellspacing="0" cellpadding="0">
                      <td style="font-family:'Helvetica Neue','Arial','Helvetica','Verdana',sans-serif;text-align:center; font-size:12px; line-height:16px; color:#999999" align="center">
                        <a style="margin-left:4px;margin-right:4px;color:#ffffff;" href="[VAR-TRADEMARK]" moz-do-not-send="true">[TEXT-All Rights Reserved]</a>
                        <a style="margin-left:4px;margin-right:4px;color:#ffffff;" href="[VAR-POLICY]" moz-do-not-send="true">[TEXT-Privacy Policy]</a>
                        <a style="margin-left:4px;margin-right:4px;color:#ffffff;" href="[VAR-SUPPORT]" moz-do-not-send="true">[TEXT-Support]</a>
                      </td>
                    </tr>
                    <tr width="100%" border="0" cellspacing="0" cellpadding="0">
                      <td style="font-family:'Helvetica Neue','Arial','Helvetica','Verdana',sans-serif;color:#999999; text-align:center; font-size:12px; line-height:16px; padding:4px;padding-top:32px; " align="center">
                        [TEXT-This message was sent to you from an email address that does not accept incoming messages].<br>
                        [TEXT-Any replies to this message will not be read. If you have questions, please visit] <a href="[VAR-CONTACT]" style="color: #ffffff" moz-do-not-send="true">[VAR-CONTACT]</a>.
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
